:root {
  --sidebar-bg: #373a4e;
  --sidebar-text: #6c757d;
  --header-bg: #262126;
  --content-bg: #181518;
  --search-bg: #314052;
  --list-items-bg: #171417;


}

* , ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 100;
  transition: width 0.5s ease;
  background: var(--sidebar-bg);
  font-size: 1em;
  width: 50px;
  
  padding-top: 20px;

}
.sidebar div {
  color: var(--sidebar-text);
  height: 50px;
  overflow: hidden;
  
}
.sidebar i {
  margin-left: 10px;
  font-size: 2em;
}
.sidebar div span {
  
  margin-left: 20px;
  visibility: hidden;
  position: relative;
  left: 10px;
}
.sidebar:hover {
  width: 150px;

}
.sidebar:hover div span {
  display: inline;
  visibility: visible;

  
}
.header {
  position: sticky;
  top: 0;
  left: 50px;
  background-color: var(--header-bg);
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 50px;
}
.login-form {
  width: 80vw;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 30px;
  background-color:var(--content-bg) ;
  color: white;
  
  padding: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.login-form input {
  margin: 10px;
 
  padding: 5px;
 
  display: inline-block;
  margin-bottom: 10px;
}
.login-form #password {
  position: relative;
  left: -10px;
}
.login-form button {
  padding: 7px 15px;
}
.search-input {
  padding: 5px;
}
.items-wrapper {
  position: relative;
 
  background-color: var(--list-items-bg);
  display: grid;
  grid-template-columns: repeat(auto-fit, 250px);
  gap: 20px 10px;
  padding: 10px;
  min-height: 100vh;
  justify-content: center;
}

.item-info {
  color: rgba(255,255,255,0.3);
  text-align: center;
}

.img-wrapper img {
  border-radius: 5%;
}
.navbar-login {
  text-transform: uppercase;
  text-decoration: none;
  color: rgba(255,255,255,1);
  background-color: #314052;
  padding: 7px;
  border-radius: 5px;

}
.navbar-login:hover {
  background-color: aquamarine;
}
.sidebar-link{
  text-decoration: none;
  
}
.sidebar-link:hover {
  background-color: lightgrey;
 
}

.navbar-logout {
  text-transform: uppercase;
  text-decoration: none;
  color: rgba(255,255,255,1);
  background-color: #314052;
  padding: 7px;
  border-radius: 5px;
 

}
.navbar-logout:hover {
  background-color: aquamarine;
}
.tabs {
 
  display: grid;
  grid-template-columns: auto auto 1fr;
  margin: 0 auto;
  max-width: 80%;





}
.tab {
  padding: 5px;
  
  font-size: 1.2em;
  border: none;
  border-bottom: 1px solid;
  cursor: pointer;
}
.active {
font-weight: bold;
border: 1px solid;
border-bottom: none;
}
.rest {
  border-bottom: 1px solid;
}

.item-wrapper .liked {

}
.show-detail-container {
  width: 90%;
  max-width: 1000px;
  padding: 10px 50px;
  margin: 0 auto;
}
.btn-favourite {
  padding: 3px;
  margin-top: 10px;
  margin-right: 10px;
}